@using Microsoft.AspNet.Identity
@using System.Device.Location

@if (Request.IsAuthenticated == false)
{
    //-----------------------------
    //ログインしていない場合の処理
    <meta http-equiv="refresh" content="0;URL=../Account/Login">

}
else
{
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    @model thingslineWeb.Models.MapViweModel
    @section scripts {

        <section class="scripts">
                <script type="text/javascript">

                    // Googleはインターフェースを多少調整しました-これはAPIにその新しいUIを使用するように指示します
                    google.maps.visualRefresh = true;

                    @foreach (var item in ViewBag.retMapViweModel.LastDD) {
                            @:var HOMEP = new google.maps.LatLng(@item.d_lat, @item.d_lon);
                    }

                    //これらは、初期ズームレベル、マップが開始するためにグローバルに中央に配置される場所、および表示するマップのタイプを設定するオプションです。
                    var mapOptions = {
                        zoom: 14,
                        center: HOMEP,
                        mapTypeControl: false,//マップタイプ コントロール
                        streetViewControl: false, //ストリートビュー コントロール
                        mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                    };


                    // これにより、IDが「map_canvas」のdivがGoogleマップになります
                    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);



                    //-----------------------------------------
                    //  ポリラインの作成
                    //-----------------------------------------
                    var data = @Html.Raw(ViewBag.retMapViweModel.MapData);
                    var patharray = new Array();
                    $.each(data, function (i, item) {
                        patharray[i] = new google.maps.LatLng(item.d_lat, item.d_lon)
                    });

                    // Polylineの初期設定
                    var polylineOpts = {
                        'map': map,
                        path: patharray
                    };
                    // 直前で作成したPolylineOptionsを利用してPolylineを作成
                    var polyline = new google.maps.Polyline(polylineOpts);



                    //-----------------------------------------
                    //  マーカーのドロップ
                    //-----------------------------------------
                    //-----------------------------------------
                    // 現在地のピン
                    @foreach (var item in ViewBag.retMapViweModel.LastDD) {
                            @:var myLatlng = new google.maps.LatLng(@item.d_lat, @item.d_lon);
                    }
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title: '自宅'
                    });
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')

                    //-----------------------------------------
                    // 画像、インフォピン
                    var actInfoWindow;
                    var data = @Html.Raw(ViewBag.retMapViweModel.MapData);
                    $.each(data, function (i, item) {
                        if (item.diff_dt != 0) {
                            // マーカーピンを変更
                            if (item.I_fileID == null) {
                                //インフォメーションマーカーピン
                                var marker = new google.maps.Marker({
                                    'position': new google.maps.LatLng(item.d_lat, item.d_lon),
                                    'map': map,
                                    'title': item.PlaceName,
                                    'icon': {
                                        url: '../img/mapmarker/5.png',
                                        'scaledSize': new google.maps.Size(10,10), //マーカーのサイズを縮小
//                                        'anchor': new google.maps.Point(20, 65) //マーカーの表示位置を25pxだけ上に
                                    }
                                });
                                // 各jsonオブジェクトに関する情報（この場合は営業時間）を入力します。
                                var infowindow = new google.maps.InfoWindow({
                                    content: "<div class='infoDiv'><h2>" + item.d_lat + "</h2>" + "<div><h4>d_lon: " + item.d_lon + "</h4></div></div>"
                                });
                            } else {
                                //画像マーカーピン
                                var imgURL =  "https://matu666.blob.core.windows.net/" + item.I_fileID;
                                var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(item.d_lat, item.d_lon),
                                    map: map,
                                    title: item.PlaceName,
                                    icon: {
                                        url: imgURL,
                                        'scaledSize': new google.maps.Size(40, 40), //マーカーのサイズを縮小
                                        'anchor': new google.maps.Point(20, 65) //マーカーの表示位置を25pxだけ上に
                                    }
                                });

                                var infowindow = new google.maps.InfoWindow({
                                    content: "<div class='infoDiv'>"
                                        + "<a href='#' class='pop'><img  src='" + imgURL + "' style='width: 200px'></a>"
                                        + "<div><h4>d_lon: " + item.d_lon + "</h4></div>"
                                        + "</div>"
                                });

                                //-----------------------------------------
                                // actInfoWindow/clickイベントを取得するListenerを追加
                                google.maps.event.addListener(marker, 'click', function () {
                                    if (actInfoWindow) {
                                        actInfoWindow.close();
                                    }
                                    infowindow.open(map, marker);
                                    actInfoWindow = infowindow;
                                })
                            }
                        }

                        //-----------------------------------------
                        // map/clickイベントを取得するListenerを追加
                        google.maps.event.addListener(map, 'click', function () {
                            if (actInfoWindow) {
                                actInfoWindow.close();
                            }
                        });


                        //-----------------------------------------
                        // map/dblclickイベントを取得するListenerを追加
                        google.maps.event.addListener(map, 'dblclick', clickEventFunc);
                        function clickEventFunc(event) {
                            alert(event.latLng.toString());
                        }


                    })

                </script>
        </section>
    }


    <style type="text/css">
        /***********************/
        /* ポップアップ*/
        /* 
        .modal-middle {
            //モーダルウィンドウの縦表示位置を調整 margin: 5% auto;
        }
            */
        .modal-img_footer {
            /* //表示予定のテキストとボタンを中央揃え padding: .5em;
            */ text-align: center;
        }

        /***********************/
        /* MAP*/
        #map_canvas img {
            max-width: none;
            padding: 0;
        }

        div#map_canvas {
            position: relative;
            width: 100%;
            top: 0;
        }

        div#map {
            width: 100%;
            position: relative;
            margin: auto;
        }

        .infoDiv {
            height: 200px;
            width: 300px;
            -webkit-user-select: none;
            margin: 0;
            padding: 0;
        }

        /***********************/


        /***********************/
        /* MAP*/

        .date-edit {
            position: relative;
        }

        input[type="date"] {
            padding: 5px;
            text-align: center;
        }
        /***********************/
        * {
            margin: 0;
            padding: 0;
        }

            *, *:before, *:after {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -moz-box-sizing: border-box;
                /*-ms-box-sizing: border-box;*/
                box-sizing: border-box;
            }

        html, body {
            height: 100%;
        }

        body {
            font-size: 14px;
            font-family: 'Lato','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
            background: #eee;
        }


        #container {
            background: #eee;
            margin-left: 260px;
            position: relative;
            -moz-transition: margin-left .25s linear;
            -webkit-transition: margin-left .25s linear;
            transition: margin-left .25s linear;
        }

        #main {
            background: #eee;
            padding-top: 0px;
            min-height: 100%;
            width: 100%;
        }

            #main p {
                margin-bottom: 1em;
                line-height: 1.9;
            }

            #main .inner {
                position: relative;
                top: 70px;
            }

        /* main-visual */
        #main-visual {
            background: #64CE80;
            background: -webkit-linear-gradient(-45deg, #64CE80, #C68BC4);
            background: -moz-linear-gradient(-45deg, #64CE80, #C68BC4);
            /*background: -ms-linear-gradient(-45deg, #64CE80, #C68BC4);*/
            background: -o-linear-gradient(-45deg, #64CE80, #C68BC4);
            background: linear-gradient(-45deg, #64CE80, #C68BC4);
            height: 400px;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

            #main-visual h2 {
                font-size: 21px;
                color: #fff;
            }

        h3 {
            font-size: 131%;
            margin-bottom: .7em;
        }

        #copyright a {
            color: #666;
            text-decoration: none;
        }

            #copyright a:hover {
                text-decoration: underline;
            }

        #global-head {
            position: fixed;
            color: #033560;
            width: 100%;
            padding: 0px 0px;
            background: #fff;
            display: -webkit-flex;
            display: flex;
        }

        #sidebar-T1 {
            padding-top: 40px;
            width: 260px;
            height: 100%;
            position: fixed;
            color: #afc3f2;
            background: #033560;
        }

        #BikeSeachMenu {
            -webkit-transition: .35s ease-in-out;
            -moz-transition: .35s ease-in-out;
            transition: .35s ease-in-out;
        }

        #global-nav ul {
            list-style: none;
            margin-left: 0;
        }

        #global-nav > ul > li {
            position: relative;
        }

        #global-nav a {
            color: #aeb4cb;
            text-decoration: none;
            display: block;
            padding: 15px;
            -moz-transition: color .3s linear;
            -webkit-transition: color .3s linear;
            transition: color .3s linear;
        }

            #global-nav .sub-menu-T1.is-active > a,
            #global-nav a:hover {
                color: #fff;
                /*background: #fff;*/
            }


        /* sub-menu-T1 icon */
        #global-nav .sub-menu-T1-head {
            position: relative;
        }

            #global-nav .sub-menu-T1-head:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 18px;
                margin: auto;
                vertical-align: middle;
                width: 8px;
                height: 8px;
                border-top: 1px solid #aeb4cb;
                border-right: 1px solid #aeb4cb;
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
            }

            #global-nav .sub-menu-T1.is-active > a:after,
            #global-nav .sub-menu-T1-head:hover:after {
                border-color: #fff;
            }

        #global-nav .is-active .sub-menu-T1-head:after {
            -moz-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
        }
        /* sub-menu-T1 */
        #global-nav .sub-menu-T1-nav {
            background: #032f55;
            display: none;
            padding: 10px 0;
            /*-moz-transition: all .4s ease;*/
            /*-webkit-transition: all .4s ease;*/
            /*transition: all .4s ease;*/
        }


            #global-nav .sub-menu-T1-nav a {
                color: #aeb4cb;
                padding: 8px 15px;
            }

                #global-nav .sub-menu-T1-nav a:hover {
                    color: #fff;
                }


        /* nav-toggle */
        #nav-toggle {
            position: fixed;
            top: 70px;
            left: 15px;
            height: 32px;
        }

            #nav-toggle > div {
                position: relative;
                width: 32px;
            }

            #nav-toggle span {
                width: 100%;
                height: 2px;
                left: 0;
                display: block;
                background: #fff;
                position: absolute;
                -webkit-transition: .35s ease-in-out;
                -moz-transition: .35s ease-in-out;
                transition: .35s ease-in-out;
            }

                /* #nav-toggle closeSM */
                #nav-toggle span:nth-child(1) {
                    top: 0;
                    /*
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            */
                }

                #nav-toggle span:nth-child(2) {
                    top: 11px;
                    /*
            width: 0;
            left: 50%;
            */
                }

                #nav-toggle span:nth-child(3) {
                    top: 22px;
                    /*
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            */
                }

        /*
        .closeSM #nav-toggle span:nth-child(1) {
            top: 0;
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            transform: rotate(0);
        }
        .closeSM #nav-toggle span:nth-child(2) {
            width: 100%;
            left: 0;
        }
        .closeSM #nav-toggle span:nth-child(3) {
            top: 22px;
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            transform: rotate(0);
        }
        */


        /* z-index */
        #nav-toggle {
            z-index: 1000;
        }

        #container {
            z-index: 900;
        }

        /* closeSM */
        .closeSM #container {
            margin-left: 0px;
        }

        .closeSM #BikeSeachMenu {
            margin-left: 70px;
        }

        .closeSM #nav-toggle span {
            background: #033560;
        }

        @@media screen and (max-width: 900px) {
            #container {
                margin-left: 0px;
            }

            #BikeSeachMenu {
                margin-left: 70px;
            }

            #nav-toggle span {
                background: #033560;
            }

            .closeSM #nav-toggle span {
                background: #fff;
            }

            #sidebar-T1 {
                left: -260px;
                z-index: 910;
                -webkit-transition: .35s ease-in-out;
                -moz-transition: .35s ease-in-out;
                transition: .35s ease-in-out;
            }

            .closeSM #sidebar-T1 {
                left: 0px;
            }
        }

        @@media screen and (max-width: 400px) {
        }
    </style>

    <link rel="stylesheet" type="text/css" href="~/Content/SelectBOX001.css">

    using (Html.BeginForm("index", "Map", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Mapform", enctype = "multipart/form-data" }))
    {
        <!--***********************-->
        <!--navbar MENU-->
        <!--***********************-->


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js"></script>
        <script type="text/javascript">
            (function ($) {
                //ポップアップウィンドウ
                $(function () {
                    $('.pop').on('click', function () {
                        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                        $('#imagemodal').modal('show');
                    });

                    // サイドサブメニューアコーディオン
                    $('.sub-menu-T1-head').on('click', function () {
                        var $subNav = $(this).next('.sub-menu-T1-nav');
                        if ($subNav.is(':visible')) {
                            $subNav.velocity('slideUp', { duration: 200 });
                            $(this).parent('li').removeClass('is-active');
                        }
                        else {
                            $subNav.velocity('slideDown', { duration: 200 });
                            $(this).parent('li').addClass('is-active');
                        }
                        return false;
                    });

                    $('.scroll').perfectScrollbar();

                    // サイドサブメニューアコーディオン
                    $('#nav-toggle').on('click', function () {
                        $('body').toggleClass("closeSM");
                    });


                });
            })(jQuery);
        </script>

        <!--ウインドウサイズ調整-->
        <script type="text/javascript">

            setTimeout(function () {
                location.reload();
            }, 600000);

            const myFunc = () => {
                let wh = window.innerHeight - 130;
                let elem2 = document.getElementById("map_canvas");
                elem2.style.height = wh + "px";

                wh = window.innerHeight - 60;
                let elem = document.getElementById("sidebar-T1");
                elem.style.height = wh + "px";

            };

            window.addEventListener("load", myFunc, false);
            window.addEventListener("resize", myFunc, false);



            //<!--サイドメニュー-->
            function toShinbashi(pLat, pLng) {
                //移動
                map.panTo(new google.maps.LatLng(pLat, pLng));
/*
 * 
                //ピン配置
                var latlng = new google.maps.LatLng(pLat, pLng);
                var marker = {
                    position: latlng,
                    map: map
                };
                nowMarker = new google.maps.Marker(marker);
                */

            }

            function toImage(ImageName, pLat, pLng) {
                //移動処理
                map.panTo(new google.maps.LatLng(pLat, pLng));

                var latlng = new google.maps.LatLng(pLat, pLng);
                var marker = {
                    position: latlng,
                    map: map
                };
                var marker = new google.maps.Marker(marker);

                window.open('https://matu666.blob.core.windows.net/imagetmp/' + ImageName, ImageName);



            }

        </script>


        <!-- Modal -->
        <div class="modal fade" id="image_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg modal-middle">
                <!-- モーダルウィンドウの縦表示位置を調整・画像を大きく見せる-->
                <div class="modal-content">

                    <div class="modal-body">
                        <img src="" id="imagepreview" style="width: 400px; height: 264px;">
                    </div>
                    <div class="modal-img_footer">
                        <p>モーダル商品</p> //テキスト表示
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button> //ボタンを取り付け
                    </div>

                </div>
            </div>
    </div>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img src="" class="imagepreview" style="width: 100%;">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>　[削除]　[タイトル変更]
                </div>
            </div>
            <div class="modal-img_footer">
            </div>
        </div>
    </div>

    <body>

        <!-- /#MainBody -->
                <div id="MainBody">
                    <div id="nav-toggle">
                        <div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div id="sidebar-T1" style="overflow-y:scroll">
                        <nav id="global-nav">
                            <ul>


                                <li><br></li>




                                <li>
                                    グループ
                                    <div class="dropdown">
                                        <button type="button" id="dropdown1" style="width:100%"
                                                class="btn btn-secondary dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            個人
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdown1" style="z-index:9999;width:100%">

                                            <button type="submit" style="width:100%" name="groupID" value="440103227845569">テストG</button>
                                            <a class="dropdown-item" href="#">機能未実装</a>
                                            <a class="dropdown-item" href="#">バイク登録系</a>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    バイク
                                    <div class="dropdown">
                                        <button type="button" id="dropdown1" style="width:100%"
                                                class="btn btn-secondary dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            Tiger Exploer XCA
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdown1" style="z-index:9999;width:100%">
                                            <a class="dropdown-item" href="#">GSX-R1100</a>
                                            <a class="dropdown-item" href="#">機能未実装</a>
                                            <a class="dropdown-item" href="#">バイク登録系</a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    IMSI(仮置き)
                                    <div class="dropdown">
                                        <button type="button" id="dropdown1" style="width:100%"
                                                class="btn btn-secondary dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            @ViewBag.retMapViweModel.IMSI
                                        </button>

                                        <input type="hidden" name="afIMSI" value="@ViewBag.retMapViweModel.IMSI">
                                        <div class="dropdown-menu" aria-labelledby="dropdown1" style="z-index:9999">
                                            <input type="submit" name="IMSI" value="440103224700366">
                                            <input type="submit" name="IMSI" value="440103227845569">
                                            <button type="submit" style="width:100%"  name="IMSI" value="440103224700366">松村</button>
                                            <button type="submit" style="width:100%" name="IMSI" value="440103227845569">立石</button>
                                            <input type="submit" name="IMSI" value="440103216886668">
                                        </div>
                                    </div>
                                </li>

                                <li><br></li>

                                <li class="sub-menu-T1">
                                    <a href="#" class="sub-menu-T1-head">移動履歴 (@ViewBag.retMapViweModel.DD.Count)</a>
                                    <ul class="sub-menu-T1-nav">

                                        @{double NowRowNum = 0;
                                            double BFRowNum = 0;
                                            double imgCount = 0;
                                            DateTime BFdt = DateTime.Now;

                                            foreach (var item in ViewBag.retMapViweModel.DD)
                                            {

                                                var distance = new GeoCoordinate(item.d_lat, item.d_lon).GetDistanceTo(new GeoCoordinate(item.bf_lat, item.bf_lon));
                                                <!--バッテリーアイコン-->
                                                string batImg = "";
                                                if (item.d_bat == -1) { batImg = "../img/bat/Bat09.png"; }
                                                else if (item.d_bat == 1) { batImg = "../img/bat/Bat01.png"; }
                                                else if (item.d_bat == 2) { batImg = "../img/bat/Bat02.png"; }
                                                else if (item.d_bat == 3) { batImg = "../img/bat/Bat03.png"; }
                                                <!--写真アイコン-->
                                                //string CamImg = "";
                                                //if (item.I_fileID == null) { CamImg = ""; }
                                                //else if (item.I_fileID != null) { CamImg = "../img/453_ca_h.png"; }
                                                <!--写真数-->
                                                string CamImg = "";
                                                if (item.I_fileID == null) { CamImg = ""; }
                                                else if (item.I_fileID != null) { imgCount = imgCount + 1; }



                                                NowRowNum = item.Rownum - BFRowNum;


                                                if (((item.diff_dt >= 500 || (distance / item.diff_dt) <= 0.01) && item.diff_dt > 0) || item.Rownum == 1)
                                                {
                                                    if (item.Rownum != 1)
                                                    {
                                                    @:</ul>
                                                @:</li>
                                            }

                                            @:<li class="sub-menu-T1">
                                                @:<a href="#" class="sub-menu-T1-head" onclick="toShinbashi(@item.d_lat,@item.d_lon)">@item.dt.ToString("HH:mm")～ (@(NowRowNum))</a>
                                                @:<ul class="sub-menu-T1-nav">
                                                    BFRowNum = item.Rownum;
                                                }
                                                <li>
                                                    <table border="1" width="100%" cellspacing="0" cellpadding="5" bordercolor="#333333">
                                                        <tr>
                                                            <td bgcolor="#FFFFFF" width="100" align="center">@item.dt.ToString("HH:mm:ss")</td>
                                                            <td bgcolor="#FFFFFF" width="100"><font size="2">-X @item.d_a_x<br>-Y @item.d_a_y<br>-Z @item.d_a_z</font></td>
                                                            <td bgcolor="#FFFFFF" align="center"><img border="0" width="18" height="28" src="@batImg" /></td>
                                                            <td bgcolor="#FFFFFF" align="center" onclick="toShinbashi(@item.d_lat,@item.d_lon)"><img border="0" width="18" height="28" src="../img/MapMarker/4677.png" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#FFFFFF" colspan="4">@item.diff_dt s</td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#FFFFFF" colspan="4">@(distance / item.diff_dt) m/s</td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#FFFFFF" colspan="4">@distance m</td>
                                                        </tr>
                                                    </table>
                                                </li>
                                            }
                                        }
                                        @if (ViewBag.retMapViweModel.DD.Count == 0)
                                        {
                                            @:<li class="sub-menu-T1">
                                                @:<a href="#" class="sub-menu-T1-head">NoData</a>
                                                @:<ul class="sub-menu-T1-nav">
                                                }

                                    </ul>
                                </li>
                            </ul>
                            <li class="sub-menu-T1">
                                <a href="#" class="sub-menu-T1-head">写真（@imgCount）</a>
                                <ul class="sub-menu-T1-nav">


                                    @{
                                        NowRowNum = 0;
                                        BFRowNum = 0;
                                        BFdt = DateTime.Now;

                                        foreach (var item in ViewBag.retMapViweModel.imgDD)
                                        {

                                            var distance = new GeoCoordinate(item.d_lat, item.d_lon).GetDistanceTo(new GeoCoordinate(item.bf_lat, item.bf_lon));
                                            <!--写真アイコン-->
                                            string CamImg = "";
                                            if (item.I_fileID == null)
                                            {
                                                CamImg = "";
                                            }
                                            else if (item.I_fileID != null)
                                            {
                                                CamImg = "https://matu666.blob.core.windows.net/" + item.I_fileID;
                                            }

                                            NowRowNum = item.Rownum - BFRowNum;


                                            if (((item.diff_dt >= 500 || (distance / item.diff_dt) <= 0.01) && item.diff_dt > 0) || item.Rownum == 1)
                                            {
                                                if (item.Rownum != 1)
                                                {
                                                @:</ul>
                                            @:</li>
                                        }

                                        @:<li class="sub-menu-T1">
                                            @:<a href="#" class="sub-menu-T1-head" onclick="toShinbashi(@item.d_lat,@item.d_lon)">@item.dt.ToString("HH:mm")～ (@(NowRowNum))</a>
                                            @:<ul class="sub-menu-T1-nav">
                                                BFRowNum = item.Rownum;
                                            }
                                            if (item.I_fileID != null)
                                            {
                                                <li>
                                                    <table border="1" width="100%" cellspacing="0" cellpadding="5" bordercolor="#333333">
                                                        <tr>
                                                            <td bgcolor="#FFFFFF" width="100" align="center">@item.I_uploadDt.ToString("HH:mm:ss")</td>
                                                            <!--<td bgcolor="#FFFFFF" align="center" onclick="toImage('@item.I_fileID',@item.d_lat,@item.d_lon)">
                                <img border="0" width="200" height="200" src="@CamImg" /></td>-->
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="#FFFFFF" width="100" align="center" onclick="toShinbashi(@item.d_lat,@item.d_lon)">
                                                                <a href="#" class="pop">
                                                                    <img src="@CamImg" style="width: 200px">
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </li>
                                            }
                                        }
                                    }
                                    @if (ViewBag.retMapViweModel.DD.Count == 0)
                                    {
                                        @:<li class="sub-menu-T1">
                                            @:<a href="#" class="sub-menu-T1-head">NoData</a>
                                            @:<ul class="sub-menu-T1-nav">
                                            }


                                </ul>
                            </li>

                            <!--
                    <li class="sub-menu-T1">
                        @using (Html.BeginForm("Upload", "Map", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="file" name="uploadFile" />
                            <br>
                            <input type="submit" value="アップロード" />
                        }
                    </li>


-->
</nav>
            </div>





            <!-- /#container -->
            <div id="container">
                <header id="global-head">

                    <nav class="navbar navbar-dark bg-dark" id="BikeSeachMenu">
                        <div class="btn-group ml-auto mr-auto">


                            @Html.EditorFor(model => model.SearchCndDate, new
                            {htmlAttributes = new
                                {
                                    Value = @ViewBag.retMapViweModel.SearchCndDate.ToString("yyyy-MM-dd")
                                    ,onchange = "document.getElementById('Mapform').submit()"
                                }
                            })
                        </div>
                    </nav>
                </header>

                <!-- Googleマップ-->
                <main id="main">
                    <section class="inner">
                        <!--***********************-->
                        <!--MAP-->
                        <div id="map">

                            <!-- これはGoogleマップを含むdivです
                <div id="map_canvas"></div>
                    -->
                            <div id="map_canvas"></div>

                        </div>


                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqUX0nsxQXyYhFHaieV-Py8EXQ9mh-KJM">
                        </script>

                        <!--gmap
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqUX0nsxQXyYhFHaieV-Py8EXQ9mh-KJM"></script>
            -->
                        <!--***********************-->
                    </section>

                </main>
            </div>
            </div>

            </body>

        }
    }
