@{
    Layout = "~/Views/Shared/_SettingLayout.cshtml";
}
@model thingslineWeb.Models.SettingUserDataModel

@if (Request.IsAuthenticated == false)
{
    //-----------------------------
    //ログインしていない場合の処理
    <meta http-equiv="refresh" content="0;URL=../Account/Login">
}
else
{



    <!--***********************-->
    <!--navbar MENU-->
    <!--***********************-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js"></script>

    <br>
    <br>
    <br>

    <body>
        <div id="container">
            <table border="1" width="0" cellspacing="0" cellpadding="5" bordercolor="#333333">
                <tr>
                    <td align="center" nowrap colspan="2">ログインユーザー情報</td>
                </tr>
                @if (ViewBag.retSettingUserDataModel != null)
                {
                    @if (ViewBag.retSettingUserDataModel.LoginUserInfo != null)
                    {
                        @Html.HiddenFor(model => model.LoginUserInfo.userID)
                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.LoginUserInfo.name1)</td>
                            <td align="left" nowrap>@ViewBag.retSettingUserDataModel.LoginUserInfo.name1</td>
                        </tr>
                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.LoginUserInfo.name2)</td>
                            <td align="left" nowrap>@ViewBag.retSettingUserDataModel.LoginUserInfo.name2</td>
                        </tr>
                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.LoginUserInfo.nickname)</td>
                            <td align="left" nowrap>@ViewBag.retSettingUserDataModel.LoginUserInfo.nickname</td>
                        </tr>
                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.LoginUserInfo.Email)</td>
                            <td align="left" nowrap>@ViewBag.retSettingUserDataModel.LoginUserInfo.Email</td>
                        </tr>
                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.LoginUserInfo.role)</td>
                            <td align="left" nowrap>@ViewBag.retSettingUserDataModel.LoginUserInfo.role</td>
                        </tr>
                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.LoginUserInfo.stopFLG)</td>
                            <td align="left" nowrap>@ViewBag.retSettingUserDataModel.LoginUserInfo.stopFLG</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td align="center" nowrap colspan="2">ユーザー登録がありません[新規登録]</td>
                        </tr>
                    }
                }
            </table>
            <table border="1" width="0" cellspacing="0" cellpadding="5" bordercolor="#333333">
                <tr>
                    <td align="center" nowrap colspan="2">保有バイク</td>
                </tr>
                @if (ViewBag.retSettingUserDataModel.BiKeInfo != null)
                {
                    foreach (var itemBiKeInfo in ViewBag.retSettingUserDataModel.BiKeInfo)
                    {
                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.BiKeInfo[0].nickname)</td>
                            <td align="left" nowrap>@itemBiKeInfo.nickname</td>
                        </tr>

                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.BiKeInfo[0].name)</td>
                            <td align="left" nowrap>@itemBiKeInfo.name</td>
                        </tr>

                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.BiKeInfo[0].LINEname)</td>
                            <td align="left" nowrap>@itemBiKeInfo.LINEname</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td align="center" nowrap colspan="2">登録バイクがありません[新規登録]</td>
                    </tr>
                }
            </table>
            <table border="1" width="0" cellspacing="0" cellpadding="5" bordercolor="#333333">

                <tr>
                    <td align="center" nowrap colspan="2">保有デバイス</td>
                </tr>
                @if (ViewBag.retSettingUserDataModel.DeviceInfo != null)
                {
                    foreach (var itemDeviceInfo in ViewBag.retSettingUserDataModel.DeviceInfo)
                    {
                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.DeviceInfo[0].Devicename)</td>
                            <td align="left" nowrap>@itemDeviceInfo.Devicename</td>
                        </tr>

                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.DeviceInfo[0].DeviceType)</td>
                            <td align="left" nowrap>@itemDeviceInfo.DeviceType</td>
                        </tr>

                        <tr>
                            <td align="right" nowrap>@Html.DisplayNameFor(model => model.DeviceInfo[0].DeviceIMSI)</td>
                            <td align="left" nowrap>@itemDeviceInfo.DeviceIMSI</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td align="center" nowrap colspan="2">登録デバイスがありません[新規登録]</td>
                    </tr>
                }


            </table>


        </div>

    </body>



}
